body {
    /* Typography */
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    font-weight: 400;
}

h1,
h2,
h3,
p {
    margin: 0;
}

a   { text-decoration: none; }

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 156px;
    padding-right: 156px;    
}

/* HEADER STYLE */

.page-header 
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
}

.page-header 
.nav-list {
    display: flex;
    width: 261px;
    height: 24px;
}

.page-header
.nav-list
.logo-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0px;

    width: 115px;
    height: 24px;
    margin-right: 76px;

    /* Typography */
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.page-header
.nav-list
.logo-header
.accent {
    color: #2e2f42;
}

.page-header .list-1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
}
.page-header .list-2 {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
}
.page-header
.nav-list
.link {    
    font-weight: 500;    
    color: #2e2f42;
}

.page-header
.nav-list
.link:hover,
.page-header 
.nav-list 
.link:focus {
    color: #404bbf;
}

.page-header 
.info-list {
    font-style: normal;
}

.page-header 
.info-list 
.info {
    text-decoration: none;
    color: #434455;    
}

.page-header 
.info-list 
.info:hover,
.page-header
.info-list 
.info:focus {
    color: #404bbf;
}
/* 
MAIN SECTION
SECTION ONE 
*/
.page-main 
.section-one {
    background-color: #2e2f42;
}

.page-main 
.section-one 
.title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #fff;
}

.page-main 
.section-one 
.order-button {
    /* TYPOGRAPHY */
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: #fff;
    background: #4d5ae5;
}

.page-main 
.section-one 
.order-button:hover,
.page-main 
.section-one 
.order-button:focus {
    background-color: #404BBF;
}
/* 
SECTION TWO 
*/
.page-main 
.section-two 
.section-title {
    letter-spacing: 0.02em;
    color: #fff;    
}

.page-main 
.section-two
.list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
/*
SECTION TEAM
*/
.page-main
.section-team {
    background: #f4f4fd;
}

.page-main 
.section-team 
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
}
.page-main 
.section-team 
.team {
    background-color: #fff;
}

.page-main 
.section-team 
.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.page-main 
.section-team 
.team-text {
    text-align: center;
}
/* 
PORTFOLIO SECTION 
*/
.page-main 
.portfolio 
.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
}

.page-main 
.portfolio 
.port-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
/* 
PAGE FOOTER 
*/
.page-footer {
    background-color: #2e2f42;
}

.page-footer 
.logo {
    font-weight: 700;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.page-footer 
.logo 
.accent {
    color: #f4f4fd;
}

.page-footer 
.footer-text {
    color: #f4f4fd;
}